### Проект выполнил
Ф.И.О Мирошкин Ярослав Андреевич <br>
Telegram - https://t.me/MiroshkinYaroslav

## Описание проекта

## Цели

## Описание данных

# English Score

In [8]:
import os
import pysrt as srt
import pandas as pd
import numpy as np

### Парсинг данных и чтение данных

In [9]:
movies_labels = pd.read_excel('english_scores\movies_labels.xlsx', index_col='Movie').drop('id', axis=1)
paths = ['english_scores/subtitles_all/subtitles/',
         'english_scores/subtitles_all/A2/',
         'english_scores/subtitles_all/B1/',
         'english_scores/subtitles_all/B2/',
         'english_scores/subtitles_all/C1/']
#subtitles_list = os.listdir('english_scores/subtitles_all/subtitles')
data = {}
for path in paths:
    for sub_name in os.listdir(path[:-1]):
        try:
            subs = srt.open(path + sub_name, encoding='utf-8')
        except:
            subs = srt.open(path + sub_name, encoding='ISO-8859-1')
        sub_list = " ".join([sub.text for sub in subs])
        data[sub_name[:-4]] = sub_list

In [10]:
df = pd.DataFrame(data.values(), index=data.keys(), columns=['subtitle'])
df.head(3)

                                                                           subtitle
10_Cloverfield_lane(2016)         <font color="#ffff80"><b>Fixed & Synced by boz...
10_things_I_hate_about_you(1999)  Hey! I'll be right with you. So, Cameron. Here...
Aladdin(1992)                     <i>Oh, I come from a land\nFrom a faraway plac...

Получен датасет, где:<br>
индексы - названия фильмов<br>
subtitle - субтитры в строков формате <br><br>
Оценим общее количество символов в "сыром датасете"

In [11]:
print(f'Общее количество символов в субтитрах: {df.subtitle.str.len().sum():,.0f}')

Общее количество символов в субтитрах: 11,188,852

Добавим в датасет разметку

In [12]:
movies_labels.head(3)

                                 Level
Movie
10_Cloverfield_lane(2016)           B1
10_things_I_hate_about_you(1999)    B1
A_knights_tale(2001)                B2

In [13]:
print(f'Количество файлов субтитров: {df.subtitle.count()}\n\
Количество строк в разметке: {movies_labels.Level.count()}')

Количество файлов субтитров: 278
Количество строк в разметке: 241

Часть данных не размечена

In [14]:
df = df.join(movies_labels)
df = df.rename(columns={'Level': 'level'})
df.head(2)

,subtitle,level
10_Cloverfield_lane(2016),"<font color=""#ffff80""><b>Fixed & Synced by boz...",B1
10_things_I_hate_about_you(1999),"Hey! I'll be right with you. So, Cameron. Here...",B1